**/bin/
**/obj/
**/out/
**/TestResults/
**/*.user
**/*.userosscache
**/*.suo
**/*.userprefs
**/*.rsuser

.idea/
*.sln.iml

.vs/
.vscode/

.DS_Store
Thumbs.db
Desktop.ini

*.log

.env
.env.*
docker-compose.override.yml

/data/
/volumes/
/storage/
/pgdata/
/uploads/
*.sqlite
*.db

wordcloud*.png
*.tmp

**/appsettings.*.json
!**/appsettings.json
