services:
  postgres:
    image: postgres:16
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 2s
      timeout: 2s
      retries: 30
    environment:
      POSTGRES_DB: hw3
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  files:
    build:
      context: .
      dockerfile: src/FileService/Dockerfile
    environment:
      STORAGE_PATH: /data
    volumes:
      - filestorage:/data
    ports:
      - "8081:8081"

  analysis:
    build:
      context: .
      dockerfile: src/AnalysisService/Dockerfile
    environment:
      PG_CONNECTION: Host=postgres;Port=5432;Database=hw3;Username=postgres;Password=postgres
      FILE_SERVICE_URL: http://files:8081
      ENABLE_WORDCLOUD: "true"
      QUICKCHART_TIMEOUT_SECONDS: "15"
    ports:
      - "8082:8082"
    depends_on:
      postgres:
        condition: service_healthy
      files:
        condition: service_started

  gateway:
    build:
      context: .
      dockerfile: src/Gateway/Dockerfile
    environment:
      ANALYSIS_URL: http://analysis:8082
      FILE_SERVICE_URL: http://files:8081
      GATEWAY_TIMEOUT_SECONDS: "25"
    ports:
      - "8080:8080"
    depends_on:
      analysis:
        condition: service_started
      files:
        condition: service_started

volumes:
  pgdata:
  filestorage: